<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.app.Android_App.AppPayment"/>
      <class name="com.app.Android_App.CommunityRegistration"/>
      <class name="com.app.Android_App.CommunityAppLive"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
